@model EntityLayer.Concreate.Experience
@{
    ViewData["Title"] = "ExperienceAdd";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<form asp-controller="Experience" asp-action="ExperienceAdd" method="post">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">new experience form</h4>
                
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control" name="Date">
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" class="form-control" name="ImageUrl" >
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="Description"  rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
                    <button class="btn btn-outline-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</form>
