@model List<EntityLayer.Concreate.WriterMessage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@*@{
    string color = "";
}*@

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Message Table</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Sender</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @*if(item.Status=="new")
                            {
                                color = "badge badge-danger";
                            }
                            if(item.Status=="workshop")
                            {
                                color = "badge badge-warning";
                            }
                            if (item.Status == "conferance")
                            {
                                color = "badge badge-success";
                            }*@
                            <tr>
                                <th>@item.WriterMessageId</th>
                                <td>@item.Subject</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                     
                                
                                <td><a href="/Writer/Default/AnnouncementDetail/@item.WriterMessageId" class="btn btn-outline-primary">Show Message</a></td>
                            </tr>
                        }
                      

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
