@model List<EntityLayer.Concreate.Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary">all datas</button>
        <button type="button" id="btnadd" class="btn btn-outline-info">save</button>
    </div>
</div>

<h4 class="text-center">experience list</h4>
<div class="p-2" id="listuser">veriler gelecek</div>
<br />
<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="name" />
    <br />
    <input type="text" class="form-control" id="inpsurename" placeholder="sure name" />
    <br />
    <input type="text" class="form-control" id="inpusername" placeholder="username" />
    <br />
    <input type="text" class="form-control" id="inpmail" placeholder="mail" />
    <br />
</div>
@section scripts
    {
    <script>
        $("#btngetlistall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Experience2/ListExperience/",

                success: function (funk) {
                    let values = jQuery.parseJSON(funk);
                    console.log(values);
                }
            });
        });
    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>

