@model EntityLayer.Concreate.Skill
@{
    ViewData["Title"] = "SkillUpdate";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("SkillUpdate", "Skill", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Skill</h4>

                <form class="forms-sample">
                    <input type="hidden" name="SkilID" value="@Model.SkilID" />
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="Title" value="@Model.Title">
                    </div>
                    <div class="form-group">
                        <label>Value</label>
                        <input type="text" class="form-control" name="Value" value="@Model.Value">
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
                    <button class="btn btn-outline-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}