@model EntityLayer.Concreate.Skill
@{
    ViewData["Title"] = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br /><br /><br /><br />
<form asp-controller="Skill" asp-action="SkillAdd" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">skill title</label>
        <input type="text" class="form-control" name="Title"  aria-describedby="emailHelp" >
        
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Value</label>
        <input type="text" class="form-control" name="Value" id="exampleInputPassword1" >
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>