<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/RecieverMessage">
                <i class="ti-notepad menu-icon"></i>
                <span class="menu-title">Reciever Messages</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="ti-agenda menu-icon"></i>
                <span class="menu-title">Sender Messages</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/AddMessage">
                <i class="ti-cloud menu-icon"></i>
                <span class="menu-title">New Messages</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Notifications</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-microphone menu-icon"></i>
                <span class="menu-title">Profile</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Setting</span>

            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Exite</span>
            </a>
        </li>
    </ul>
</nav>