@model EntityLayer.Concreate.SocialMedia
@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<form asp-controller="SocialMedia" asp-action="AddSocialMedia" method="post">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">new socialmedia</h4>

                <form class="forms-sample">
                    <div class="form-group">
                        <label>title</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" class="form-control" name="Url">
                    </div>
                    <div class="form-group">
                        <label>Icon</label>
                        <input type="text" class="form-control" name="Icon">
                    </div>

                    <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
                    <button class="btn btn-outline-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</form>
